<div class="col-md-6 offset-md-2">
  <nb-card>
    <nb-card-body class="example-items-rows">
      <form:errors path="name" cssClass="error" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <form:label path="name">First Name</form:label>

          <form:input
            type="text"
            path="name"
            class="form-control"
            id="firstName"
            [(ngModel)]="employee.firstName"
            name="firstName"
            nbInput
            placeholder="First Name"
          />
          <!-- <form:span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
            >first name size should between 3 and 50</form:span
          > -->
        </div>
        <div class="form-group">
          <form:label for="">Last Name</form:label>
          <form:input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="employee.lastName"
            name="lastName"
            nbInput
            placeholder="Last Name"
          />
          <!-- <form:span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
            >last name size should between 3 and 50</form:span
          > -->
        </div>
        <div class="form-group">
          <form:label>Email Id</form:label>
          <form:input
            type="text"
            class="form-control"
            id="emailId"
            [(ngModel)]="employee.emailId"
            name="emailId"
            nbInput
            placeholder="Email Id "
          />
          <!-- <form:span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
            >must input a valid e mail</form:span
          > -->
        </div>
        <button nbButton status="success" type="submit">Submit</button>
      </form:errors>
    </nb-card-body>
  </nb-card>
</div>
