:host {
  display: block;
  max-height: 75rem;
  max-width: 75rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

img {
  width: 100px;
  height: 100px;
}
