<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Employee List</nb-card-header>
      <a href="/employees">
        <img src="../../assets/employee-list.png" alt="employee-list" />
      </a>
    </nb-card>
  </div>

  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Add Employees</nb-card-header>
      <a href="/create-employee">
        <img src="../../assets/add-employee.png" alt="add-employee" />
      </a>
    </nb-card>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Update Employee</nb-card-header>
      <a href="/update-employee/:id">
        <img src="../../assets/update-employee.png" alt="update-employee" />
      </a>
    </nb-card>
  </div>

  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Employee Details</nb-card-header>
      <a href="/view-employee-details">
        <img src="../../assets/employee-details.png" alt="employee-details" />
      </a>
    </nb-card>
  </div>
</div>
